<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <%= @username %>
    </div>
  </div>
</div>
<!-- New Row-->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Profile</p>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Tweets</p>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>who I am follow</p>
      </div>
    </div>
  </div>
</div>

<!-- new Row, -->

<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Trend</p>
      </div>
    </div>
  </div>
</div>



